---
const { title } = Astro.props;
import "../styles/style.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title} | EyeScary Music</title>

        <!-- SEO -->
        <meta name="description" content="ESMusic: A music streaming service for funni AI songs">
        <meta name="keywords" content="music, streaming, funni, eyescary">
        <meta name="author" content="EyeScary Development">
        <meta property="og:title" content="EyeScary Music">
        <meta property="og:description" content="ESMusic: A music streaming service for funni AI songs">
        <meta property="og:url" content="https://music.eyescary.uk">

        <!-- Perf -->
        <link rel="dns-prefetch" href="https://assets.c48.uk">
        <link rel="preconnect" href="https://assets.c48.uk">
        <link rel="preconnect" href="https://assets.c48.uk" crossorigin>
        <link rel="dns-prefetch" href="https://eyescary-development.github.io">
        <link rel="preconnect" href="https://eyescary-development.github.io">
        <link rel="preconnect" href="https://eyescary-development.github.io" crossorigin>
    </head>

    <body>
        <header>
            <h1>EyeScary Music</h1>
        </header>
        <slot />
    </body>
</html>
